/qcu-device/config-devices.*
/qcu-device/config-all-devices.*
/qcu-device/config-all-disas.*
/qcu-device/config-host.*
/qcu-device/config-target.*
/qcu-device/config.status
/qcu-device/config-temp
/qcu-device/trace/generated-tracers.h
/qcu-device/trace/generated-tracers.c
/qcu-device/trace/generated-tracers-dtrace.h
/qcu-device/trace/generated-tracers.dtrace
/qcu-device/trace/generated-events.h
/qcu-device/trace/generated-events.c
/qcu-device/trace/generated-helpers-wrappers.h
/qcu-device/trace/generated-helpers.h
/qcu-device/trace/generated-helpers.c
/qcu-device/trace/generated-tcg-tracers.h
/qcu-device/trace/generated-ust-provider.h
/qcu-device/trace/generated-ust.c
/qcu-device/ui/shader/texture-blit-frag.h
/qcu-device/ui/shader/texture-blit-vert.h
/qcu-device/libcacard/trace/generated-tracers.c
*-timestamp
/qcu-device/*-softmmu
/qcu-device/*-darwin-user
/qcu-device/*-linux-user
/qcu-device/*-bsd-user
/qcu-device/libdis*
/qcu-device/libuser
/qcu-device/linux-headers/asm
/qcu-device/qga/qapi-generated
/qcu-device/qapi-generated
/qcu-device/qapi-types.[ch]
/qcu-device/qapi-visit.[ch]
/qcu-device/qapi-event.[ch]
/qcu-device/qmp-commands.h
/qcu-device/qmp-marshal.c
/qcu-device/qemu-doc.html
/qcu-device/qemu-tech.html
/qcu-device/qemu-doc.info
/qcu-device/qemu-tech.info
/qcu-device/qemu-img
/qcu-device/qemu-nbd
/qcu-device/qemu-options.def
/qcu-device/qemu-options.texi
/qcu-device/qemu-img-cmds.texi
/qcu-device/qemu-img-cmds.h
/qcu-device/qemu-io
/qcu-device/qemu-ga
/qcu-device/qemu-bridge-helper
/qcu-device/qemu-monitor.texi
/qcu-device/qmp-commands.txt
/qcu-device/vscclient
/qcu-device/fsdev/virtfs-proxy-helper
*.[1-9]
*.a
*.aux
*.cp
*.dvi
*.exe
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
!/scripts/qemu-guest-agent/fsfreeze-hook.d
*.o
*.lo
*.la
*.pc
.libs
.sdk
*.gcda
*.gcno
/qcu-device/pc-bios/bios-pq/status
/qcu-device/pc-bios/vgabios-pq/status
/qcu-device/pc-bios/optionrom/linuxboot.asm
/qcu-device/pc-bios/optionrom/linuxboot.bin
/qcu-device/pc-bios/optionrom/linuxboot.raw
/qcu-device/pc-bios/optionrom/linuxboot.img
/qcu-device/pc-bios/optionrom/multiboot.asm
/qcu-device/pc-bios/optionrom/multiboot.bin
/qcu-device/pc-bios/optionrom/multiboot.raw
/qcu-device/pc-bios/optionrom/multiboot.img
/qcu-device/pc-bios/optionrom/kvmvapic.asm
/qcu-device/pc-bios/optionrom/kvmvapic.bin
/qcu-device/pc-bios/optionrom/kvmvapic.raw
/qcu-device/pc-bios/optionrom/kvmvapic.img
/qcu-device/pc-bios/s390-ccw/s390-ccw.elf
/qcu-device/pc-bios/s390-ccw/s390-ccw.img
.stgit-*
cscope.*
tags
TAGS
*~
/test/answer/*
/test/data/*
/test/nvidia_samples/*
/demo/*
